.logo{
	text-align: center;
}
.logo img{
	width: 80px;
	height: 50px;
	margin-left: 110px;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.sidebar{
	position: fixed;
	left: 0;
	width: 250px;
	height: 250pxpx;
	background-color: khaki;
}
.sidebar header{
	font-size: 25px;
	color: black;
	text-align:center ;
	line-height: 70px;
	background-color: saddlebrown;
	user-select: none;
}
.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size:20px ;
	color: black;
	padding-left: 40px;
	box-sizing: border-box;
}
ul a:hover{
	padding-left: 15px;
}
#check{
	display: none;
}
.choicebox .btn1,.btn2{
	color: black;
	font-size: 30px;
	font-weight: 600;
	position: absolute;
	left: 15px;
	line-height: 60px;
	cursor: pointer;

}